mise WARN  failed to write cache file: /Users/hiroshi/.cache/mise/lua/5.5.0/exec_env_3b86e418117b5590-7f2de.msgpack.z Operation not permitted (os error 1)
Run options: --seed 41025

# Running:

............................................................................

Finished in 1.000939s, 75.9287 runs/s, 562.4718 assertions/s.

76 runs, 563 assertions, 0 failures, 0 errors, 0 skips
